html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

.header{
background-color:#007700;
color:#fff;
height:90px;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;
}

.header-list{
  float:left;
}

.header-list li{
  float:right;
  padding:33px 20px;
}

.main{
  padding:100px 80px;
}

.copy-container h1{
  font-size:96px;
}
.copy-container h2{
  font-size:40px;
  color:aqua;
}

.copy-container h3{
  font-size:40px;
}

.contents{
  height:500px;
  margin-top:100px;
}

.section-title{
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
}

.contents-item{
  float:left;
  margin-right:40px;
}


span{
 color:red;
}

.invocation{
  padding:100px 80px;
  font-size:52px;
  color:aqua;
}


.student {
  padding:100px 80px
}

.student-title{
   border-bottom:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
}

.student item p{
  float:left;
  margin-right:40px;
}
